//main-header

.main-header {
  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.main-header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & .main-header__item a {
    color: $color_text_2;

    &:hover {
      color: $color_text_1;
    }

    &:active {
      color: $color_orange;
    }
  }

  & .main-header__item:not(:last-child) {
    padding-right: 32px;
  }
}

.main-header__btn {
  width: 196px;
  height: 31px;

  border: 2px solid $color_orange;
  border-radius: 10px;
  color: $color_orange;
  background: none;
  margin-right: 24px;

  &:hover {
    color: $color_white;
    background-color: $color_orange;
  }
}

.main-header__link-tel {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: $color_text_2;
}

//hero-block

.hero-block {
  position: relative;
  & .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.hero-block__bg {
  position: absolute;

  z-index: -1;

  & video {
    width: 100%;
  }
}

.hero-block__main-title {
  font-style: normal;
  font-weight: 700;
  font-size: 66px;
  line-height: 78px;
  letter-spacing: 3.2px;
  color: $color_text_white;
  padding-top: 150px;
  max-width: 1000px;
  padding-bottom: 50px;
}

.hero-block__title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  color: $color_text_white;
  max-width: 550px;
  padding-bottom: 25px;
}

.hero-block__subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: $color_text_white;
  max-width: 800px;
  padding-bottom: 32px;
}

.hero-block__link {
  display: block;
  padding: 22px 27.5px;

  background: linear-gradient(180deg, #ffa96b -21.43%, #ee7a28 100%);
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: $color_text_white;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 150px;
}

//our-work

.our-work__title {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  color: $color_text_1;
  padding-top: 350px;
  padding-bottom: 80px;
}

.our-work__slider {
  width: 100vw;
  padding-bottom: 40px;

  & .our-work__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  & .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background-color: $color_grey;
    &.swiper-pagination-bullet-active {
      width: 12px;
      height: 12px;
      background-color: $color_orange;
    }
  }
}

.swiper-button-prev {
  background-color: $color_white;
  width: 73px;
  height: 73px;
  border-radius: 50%;
  left: 400px;

  &::after {
    color: $color_orange;
  }

  &.swiper-button-disabled {
    opacity: 1;
  }

  &:active {
    background-color: $color_orange;

    &::after {
      color: $color_white;
    }
  }
}

.swiper-button-next {
  background-color: $color_white;
  width: 73px;
  height: 73px;
  border-radius: 50%;
  right: 400px;

  &::after {
    color: $color_orange;
  }

  &.swiper-button-disabled {
    opacity: 1;
  }

  &:active {
    background-color: $color_orange;

    &::after {
      color: $color_white;
    }
  }
}
